@model dynamic

@{
    ViewBag.Title = "Fail";
    Layout = null;
}




<div class="new-alert">
    <img src="~/images/close.png" />
    <h4>  فشلت عملية الدفع       </h4>
</div>

@*<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script>
        Swal.fire({
            position: 'center',
            type: 'error',
            title: 'فشلت عملية الدفع ',
            showConfirmButton: false,
            timer: 2000
        })

    </script>*@


