@model Salony.Models.ControllerDTO.CategoryEditDTO

@{
    ViewData["Title"] = "Edit";
}

<div class="col-sm-12">

    <div class="card-box" style="padding: 80px 20px 40px;">
        <div class="row">

            <h2 class="header-title m-t-0 m-b-30" style="text-align:center">تعديل قسم </h2>
            <form enctype="multipart/form-data" asp-action="Edit" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <input type="hidden" asp-for="isActive" />


                <div class="form-group">
                    <label asp-for="nameAr" class="control-label">الاسم بالعربية</label>
                    <input asp-for="nameAr" class="form-control" />
                    <span asp-validation-for="nameAr" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="nameEn" class="control-label">الاسم بالانجليزية </label>
                    <input asp-for="nameEn" class="form-control" />
                    <span asp-validation-for="nameEn" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">الصورة الحالية</label>
                    <div class="col-md-10">
                        <img src="~/@Model.DisplayImg" width="50px" height="50px" />
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-md-2">الصورة الجديدة</label>
                    <div class="col-md-10">
                        <input type="file" asp-for="img" class="form-control" />
                        <span asp-validation-for="img" class="text-danger"></span>
                    </div>

                </div>

             
                <div class="col-md-12">
                    <div class="form-group">

                        <input type="submit" value="اضافة" onclick="Validtion()" class="btn-new-style" />

                    </div>
                </div>

            </form>
        </div>
    </div>


</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}

